<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>MySquelette - {% block title %}Base page{% endblock %}</title>
        <link href="{{ asset('libs/Semantic-UI/semantic.min.css') }}"  rel="stylesheet" type="text/css" />
        <link href="{{ asset('css/css.css') }}" rel="stylesheet" type="text/css"/>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="ui fluid ">
            {% include "menu/NavBar.html.twig" %}
            
            {% include "menu/verticalMenuBanque.html.twig" %}
        </div>
        <div class="ui fluid" style="margin-top: 70px;">
            {% block body %}
                {% include "menu/verticalMenuBanque.html.twig" %}
            {% endblock %}
        </div>
        <script type="text/javascript" lang="javascript" src="{{ asset('libs/jquery-3.4.1.min.js') }}"></script>
        <script type="text/javascript" lang="javascript" src="{{ asset('libs/Semantic-UI/semantic.min.js') }}"></script>
        <script type="text/javascript" lang="javascript">
            $(document).ready(function () {
            {#    $('.ui.dropdown')
                    .dropdown({
                        clearable: false
                    });   #}     
                                        
            }); //--- du document ready
        </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
