{# vertical Menu Banque #}
{# {% include 'menu/verticalMenuBanque.html.twig' %} #}


<div class="ui left fixed vertical menu">
  <div class="item">
    <img class="ui mini image" src="/images/logo.png">
  </div>
      <a class="active item">Home </a>
  <a class="item">Action</a>
  <a class="item">Gestion</a>
  <a class="item">Livret A</a>
  <a class="item">Livret A</a>
  <a class="item">PEL</a>
  <a class="item">PERCO</a>
  <a class="item">Retraite</a>
  <a class="item">Retraite</a>
  </div>







{#
<div class="ui vertical pointing menu" style="background: red; ">

</div>#}